.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
   background-image: linear-gradient( 179.7deg,  rgba(239,94,91,1) 2.6%, rgba(216,52,49,1) 104.5% );
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: linear-gradient( 135deg, #FEC163 10%, #DE4313 100%);
}

p {
  font-size: 2rem;
  color: linear-gradient( 135deg, #FEC163 10%, #DE4313 100%);
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  font-size: 5rem;
  margin-top: 5%;
  color: linear-gradient( 135deg, #FEC163 10%, #DE4313 100%);
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
